@{
    Layout = "_Master.cshtml";
}

@Html.Partial("_HomepageBanner")

<div class="main-content main-content--padded">

    <h2 class="intro-text cancon-hand">Hello, and <b>welcome</b> to Candid Contributions!</h2>
    <p class="intro-text">This is the home of the aptly named podcast where four experienced developers talk all things open source: from code contributions to conference attendance; we aim to cover all aspects of life as an active member of an open-source community.</p>

    <div class="align--center">
        <p>Search for "Candid Contributions" in your podcast app, or <a href="https://www.spreaker.com/show/candidcontributions" target="_blank">listen online</a></p>
        
        <div>
            <img class="contribs-team" src="/images/team.png" alt="candid contribs team" />
        </div>
    </div>
</div>

<h2 class="section-header cancon-hand align--center">Upcoming events</h2>

<div class="codepatch" id="codepatch">
    <div class="mobile-deets align--center">
        <img src="/images/codepatch_logo_600x300.png" alt="codepatch logo" />
    </div>
</div>

<div class="codepatch-details main-content">
    <h2>What's happening?</h2>
    <p>In the Umbraco CMS open-source community, May is traditionally Codegarden month - but with all the global goings-on this year Codegarden was unfortunately cancelled. As a "patch" in its place, we are running a virtual community celebration and we would like <b>you</b> to join us at CodePatch!</p>
    <p>Join us on <b>Friday 29th May @@ 3pm</b> for socialising and guided conversations</p>
    <p>Join us on <b>Saturday 30th May @@ 9am</b> for lightning talks, a hackathon and community catch-ups</p>
</div>