@import "breakpoints.scss";

$visual-grid: true;
$visual-grid-color: grey;
$visual-grid-index: front;
$visual-grid-opacity: 0;

//$fg-gutter: 10px;

// Change the grid settings
$max-width: 1230px;
$max-width-small: 644px;
$max-width-extended: 1440px;

// BREAKPOINTS
$desktop-lg: new-breakpoint(min-width 1440px 12);
$desktop-md: new-breakpoint(max-width 1100px 12);
$tablet-lg: new-breakpoint(max-width 1024px 12);
$desktop: new-breakpoint(max-width 1019px 12);
$tablet: new-breakpoint(max-width 767px 12);
$tablet2: new-breakpoint(max-width 768px 12);
$mobile: new-breakpoint(max-width 480px 12);

/// Colours ///
$white: white;
$black: black;
$primary: black;

$offblack: #323232;

// obtained via http://chir.ag/projects/name-that-color/

//$sapphire: #1825aa;
$sapphire: rgba(24, 37, 170, 1);
$sapphire-opacity: rgba(24, 37, 170, 0.8);
$white-two: #fafafa;
$white-three: #e7e7e7;
$white-three-opacity: rgba(231, 231, 231, 0.25);
$white-four: #f3f3f3;
$pale-teal: #85c598;
$light-teal: rgba(133, 197, 152, 0.4);
$dark-blue: #0e1880;
$alto: #d9d9d9;
$red: #ff0000;
$mariner: #3366cc;
$gallery: #efefef;
$boulder: #757575;
$azure: #00a9e6;
$gold: #b79b5f;
$darkgold: #8f7c52;
$grey: #626262;
$lightgrey: #ccc;
$gold-slightly-darker: #AF914F;
$gold-darker: #8D733D;

$porcelain: #f3f4fb;
$subnav-bg: $porcelain;

$padding-base-vertical: 20px;
