.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    margin:auto;
    width: 70%;

    &--padded {
        padding: 40px 0;
    }

    &--padded-bottom {
        padding: 0;
        padding-bottom: 40px;
    }
}

.align--center {
    text-align: center;
}

.title {
    font-size: 2rem;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1366px) {
    .main-content {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .main-content {
        width: 90%;
    }
}