@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  z-index: 10;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $black;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: $white;
  border-radius: 10px;
  color: $mineshaft;
  margin: 5% auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;

  .modal-header {
    padding: 2px 16px;
  }
  
  .modal-body {
    padding: 2px 16px;
  }
  
  .modal-footer {
    padding: 2px 16px;
  }

  .close-modal {
    cursor: pointer;
    float: right;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: $black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.modal-schedule {
  width: 90%;
  padding: 10px;

  h2, h3, p {
    margin: 10px 0;
  }

  h3 {
    font-size: 18px;
  }

  h2 {
    font-size: 22px;
    margin: 15px 20px 15px 0;
  }

  &--details {
    display: inline-block;
    margin-bottom: 20px;

    &-abstract {
      padding-right: 20px;
    }

    &-time {
      background-color: $bayleaf;
      color: $white;
      border-radius: 5px;
      padding: 10px;
      min-width: 260px;
    }
  }

  &--speaker {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px 0;
    border-top: 1px dashed $bayleaf;

    img {
      height: 100%;
    }
  }

  @media only screen and (min-width: $breakpoint-med) {
    padding: 20px;

    &--details {  
      &-time {
        border-radius: 10px;
        padding: 20px;
      }
    }

    &--speaker {
      display: flex;
      align-items: center;
      text-align: left;

      &-details {
        margin-left: 20px;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 80%;

    h2 {
      margin: 10px 0;
      font-size: 2rem;
    }

    h3 {
      font-size: 1.375rem;
    }

    &--details {
      display: flex;
      justify-content: space-between;
    }
  }

  @media only screen and (min-width: $breakpoint-xlarge) {
    width: 60%;
  }
}