<div class="events-banner">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="~/images/codepatch_logo_600x300.png" alt="codepatch" />
            </div>

            <div class="col-3 events-banner--icon">
                <div class="type-image">
                    <i class="material-icons">place</i>
                </div>
                <div class="type-details">
                    <h3 class="type-details--label">Where</h3>
                    <p>Virtual</p>
                </div>
            </div>
            <div class="col-3 events-banner--icon">
                <div class="type-image">
                    <i class="material-icons">event_note</i>
                </div>
                <div class="type-details">
                    <h3 class="type-details--label">When</h3>
                    <p>Fri 29th May</p>
                    <p>Sat 29th May</p>
                </div>
            </div>
        </div>
    </div>
</div>