<div class="events-banner">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="~/images/codepatch_logo_600x300.png" alt="codepatch" />
            </div>

            <div class="col-3 events-banner--icon ">
                <div>
                    <i class="material-icons">place</i>
                </div>
                <h3 class="type">Where</h3>
                <p class="type--details">Virtual</p>
            </div>
            <div class="col-3 events-banner--icon">
                <div>
                    <i class="material-icons">event_note</i>
                </div>
                <h3 class="type">When</h3>
                <p class="type--details">Fri 29th May 2020</p>
                <p class="type--details">Sat 29th May 2020</p>
            </div>
        </div>
    </div>
</div>