<footer>
    <div class="footer-layout main-content">
        <div>
            <div>© Candid Contributions @DateTime.Today.Year</div>
            <embed class="footer-layout--logo" src="~/images/logo.png" alt="logo"/>
        </div>
        <div class="footer-layout--info">
            <div class="footer-layout--more">Want more from Candid Contributions?</div>
            <ul class="footer-layout--links">
                @*<li>
                    <a href="" class="link--icon">
                        <i class="material-icons">local_post_office</i> Join our mailing list
                    </a>
                </li>*@
                <li>
                    <a href="https://twitter.com/candidcontribs" class="link--icon" target="_blank">
                        <i class="material-icons">textsms</i> Follow us on Twitter
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>