<header>
    <div class="header-layout main-content">
        <div>
            <a href="/" class="link--icon">
                <img class="header-layout--logo" src="~/images/logo_white.png" alt="logo" />
                <span class="header-layout--title cancon-hand">Candid Contributions Podcast</span>
            </a>
        </div>
        <div>
            <nav>
                <ul>
                    @*<li>
                        <a href="/episodes">Episodes</a>
                    </li>*@
                    <li>
                        <a href="#codepatch" class="link--icon">
                            <img src="~/images/codepatch_carrot_300x300.png" alt="codepatch" />
                            <span>CodePatch</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>