@model Umbraco.Web.PublishedModels.Episode

<div class="home-banner">
    <div class="main-content">
        <h1 class="cancon-hand">Most recent episode: @Model.Title</h1>
        <h3 class="home-banner--subtitle">@Model.Description.Substring(0,200) ...</h3>
        <div class="btn">
            <a class="btn--link" href="@Model.Link" target="_blank">
                <i class="material-icons">play_arrow</i> Play episode
            </a>
        </div>
    </div>
</div>