<div class="home-banner">
    <div class="main-content">
        <h1 class="cancon-hand">Most recent episode: "Open"</h1>
        <h2 class="home-banner--subtitle">We talk about what the "open" means in open-source. Tune in for insights from industry professionals working on a range of open-source projects.</h2>
        <div class="btn">
            <a class="btn--link" href="https://www.spreaker.com/user/11917219/episode-10-open" target="_blank">
                <i class="material-icons">play_arrow</i> Play episode
            </a>
        </div>
    </div>
</div>