<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee6f2463-721c-497e-9858-10f72e73e7dd" Alias="Content Picker - People" Level="3">
  <Info>
    <Name>Content Picker - People</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Content+Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/libraryRoot/peopleFolder",
    "id": null
  },
  "Filter": "person",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>