<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e9d0ee6-3e38-4bc2-984a-909011298354" Alias="Content Picker - Person" Level="3">
  <Info>
    <Name>Content Picker - Person</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/libraryRoot/peopleFolder",
    "id": null
  },
  "Filter": "person",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>