<?xml version="1.0" encoding="utf-8"?>
<DataType Key="210bf276-b3b8-4826-a2a8-a98a79e38f8c" Alias="Dropdown - Schedule Tags" Level="3">
  <Info>
    <Name>Dropdown - Schedule Tags</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "Items": [
    {
      "id": 4,
      "value": "Community Time"
    },
    {
      "id": 5,
      "value": "First Timer Session"
    },
    {
      "id": 3,
      "value": "Guided Conversation"
    },
    {
      "id": 1,
      "value": "Hackathon"
    },
    {
      "id": 2,
      "value": "Lightning Talk"
    }
  ]
}]]></Config>
</DataType>