<?xml version="1.0" encoding="utf-8"?>
<DataType Key="720f409c-4947-42d4-a6b6-c29834497ea8" Alias="Episode - Title - Textbox" Level="1">
  <Info>
    <Name>Episode - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>