<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0767f1cf-ebb3-4a14-b8b9-0fc65f9e8e37" Alias="List View - episodesFolder" Level="3">
  <Info>
    <Name>List View - episodesFolder</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/List+Views</Folder>
  </Info>
  <Config><![CDATA[{
  "PageSize": 20,
  "OrderBy": "sortOrder",
  "OrderDirection": "desc",
  "IncludeProperties": [
    {
      "alias": "publishedDate",
      "header": "Published",
      "nameTemplate": null,
      "isSystem": 0
    },
    {
      "alias": "listensCount",
      "header": "Listens",
      "nameTemplate": null,
      "isSystem": 0
    },
    {
      "alias": "sortOrder",
      "header": null,
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": 1
    }
  ],
  "Layouts": [
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": false
    }
  ],
  "BulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "Icon": "icon-list",
  "TabName": null,
  "ShowContentFirst": false
}]]></Config>
</DataType>