<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e5e93e4-7388-431a-b55c-045d922fa873" Alias="Nested - Day Schedule Entries" Level="3">
  <Info>
    <Name>Nested - Day Schedule Entries</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "dayScheduleEntry",
      "ncTabAlias": "Details",
      "nameTemplate": "{{startTimeUTC}}{{ hidden === '1' ? ' [HIDDEN]' : '' }}: {{title}} ({{durationMins}}m)"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>