<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c10a226-ac23-41e5-97f6-7a431e316748" Alias="Slider - Schedule Duration" Level="3">
  <Info>
    <Name>Slider - Schedule Duration</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/Sliders</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 60.0,
  "InitialValue2": 0.0,
  "MinimumValue": 15.0,
  "MaximumValue": 180.0,
  "StepIncrements": 5.0
}]]></Config>
</DataType>