footer {
  background: url("../../images/bgs/footer_banner.png") no-repeat top left;
  height: auto;
}

.footer-layout {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: $white;
  position: relative;
  padding: 15px 15px 0;
  font-weight: 400;
  font-style: normal;

  &--logo {
    height: 100px;
    padding-top: 10px;
  }

  &--info {
    flex-grow: 2;
  }

  &--more, ul {
    text-align: right;
  }

  &--links {
    position: absolute;
    right: 0;
  }

  li, a {  
    color: $yellowGreen;
    text-align: right;
    text-transform: uppercase;
    background-position: 100% .4em;
    padding-right: .6em;
  }
}