<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="445b1add-66b8-47e2-b81b-8ff9bcf8f94c" Alias="bingoWordsFolder" Level="3">
  <Info>
    <Name>BingoWordsFolder</Name>
    <Icon>icon-script-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>DiscordBot/Bingo</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b603d3cd-c716-4d4b-9783-e62d5328a4d5" SortOrder="0">bingoWord</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>