<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59812495-c97c-4886-898b-f1ff1fed3e52" Alias="bingoSettings" Level="4">
  <Info>
    <Name>BingoSettings</Name>
    <Icon>icon-settings-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>DiscordBot/Bingo/Settings</Folder>
    <Compositions />
    <DefaultTemplate>BingoSettings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c77b1929-25b2-463e-bc16-2d5b4cfc5e00">BingoSettings</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e867c796-f5f8-4dcc-a4ea-c2c421c60e98" SortOrder="0">autoCallbackSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>