<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d14faa7-2d96-483a-96ed-fa6a72ba10ef" Alias="bingoFolder" Level="3">
  <Info>
    <Name>BingoFolder</Name>
    <Icon>icon-folder-outline color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>DiscordBot/Bingo</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="445b1add-66b8-47e2-b81b-8ff9bcf8f94c" SortOrder="0">bingoWordsFolder</ContentType>
    <ContentType Key="4e9a4ae4-3d87-4913-9167-ee7809bd8ad0" SortOrder="1">bingoPhrasesFolder</ContentType>
    <ContentType Key="59812495-c97c-4886-898b-f1ff1fed3e52" SortOrder="2">bingoSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>