<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b603d3cd-c716-4d4b-9783-e62d5328a4d5" Alias="bingoWord" Level="3">
  <Info>
    <Name>BingoWord</Name>
    <Icon>icon-circle-dotted color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>DiscordBot/Bingo</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>