<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4e9a4ae4-3d87-4913-9167-ee7809bd8ad0" Alias="bingoPhrasesFolder" Level="3">
  <Info>
    <Name>BingoPhrasesFolder</Name>
    <Icon>icon-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>DiscordBot/Bingo</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="30515320-ed9f-4e64-9ac8-ae5c00d9a9ff" SortOrder="0">bingoPhrase</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>