<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66f965c1-9fa5-4db1-b7f1-8b7d5eb873b5" Alias="episodesFolder" Level="2">
  <Info>
    <Name>Episodes Folder</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Library+Folders</Folder>
    <Compositions />
    <DefaultTemplate>EpisodesFolder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0b0e9157-d6ab-42f8-9779-31b780dd0078">EpisodesFolder</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2d4b5702-3bd5-4d5e-8273-16252a2d0c29" SortOrder="0">episode</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>