<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2d4b5702-3bd5-4d5e-8273-16252a2d0c29" Alias="episode" Level="2">
  <Info>
    <Name>Episode</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Episode</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b729a4c0-78bb-45a1-90c9-eb4f25e1569b">Episode</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>af0c83c0-797f-4f2c-bdde-fbc9565aefa1</Key>
      <Name>Display Title</Name>
      <Alias>displayTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If blank, Podcast title will be used on the website]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Further Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c6022f1d-14b0-4ed3-b078-ba861d776cdb</Key>
      <Name>Home Page Intro</Name>
      <Alias>homePageIntro</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If blank, Description (max 200 chars) will be used]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Further Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>38b8f63c-a854-451a-86bf-a6d421bdc751</Key>
      <Name>Listens Count</Name>
      <Alias>listensCount</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sum of plays and downloads]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>API Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>04cbab72-2a78-4abd-8674-a412971de552</Key>
      <Name>Podcast Link</Name>
      <Alias>podcastLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to episode .mp3]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>API Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b71ffd02-61f9-44ad-90e8-86a5799e99f3</Key>
      <Name>Podcast Title</Name>
      <Alias>podcastTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>API Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2dc40443-2aa2-4d2b-b793-0a1b6fdbaa19</Key>
      <Name>Published Date</Name>
      <Alias>publishedDate</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>API Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4f81fbe1-afe7-4d7e-a102-0ab4fe1c598f</Key>
      <Name>Show Notes</Name>
      <Alias>showNotes</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is fed automatically from API]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>API Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ad6c1d21-3ff6-4229-9ed5-623dfb0f3eb0</Key>
      <Name>Spreaker Id</Name>
      <Alias>spreakerId</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Episode id, used for lookup when doing API]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>API Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>API Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Further Details</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>