<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4759ea6-cda3-46d6-a339-4424e948790f" Alias="eventsPage" Level="2">
  <Info>
    <Name>Events page</Name>
    <Icon>icon-rocket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>EventsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="774b340a-51ce-4294-89b0-c8a3b969d580">EventsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1afb6700-d969-4344-bb42-c1ddc8773356</Key>
      <Name>About Content</Name>
      <Alias>aboutContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[appears alongside the image in 'about' section (image currently hard-coded)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Event Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>