<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4759ea6-cda3-46d6-a339-4424e948790f" Alias="eventsPage" Level="2">
  <Info>
    <Name>Events page</Name>
    <Icon>icon-rocket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b19129a7-5c55-4eb0-a946-acacb195db11">metaTags</Composition>
      <Composition Key="bed14447-f5bb-40c9-a38d-9ae31e6781d5">navigation</Composition>
    </Compositions>
    <DefaultTemplate>EventsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="774b340a-51ce-4294-89b0-c8a3b969d580">EventsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1afb6700-d969-4344-bb42-c1ddc8773356</Key>
      <Name>About right content</Name>
      <Alias>aboutContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[appears alongside the image in 'about' section]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>93ee8a9d-059a-4bf4-af33-2e057172ca09</Key>
      <Name>About left content</Name>
      <Alias>aboutLeftContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[only shows if no left image specified]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d96ed87d-300f-4e32-b110-09b507eb13c0</Key>
      <Name>About left image</Name>
      <Alias>aboutLeftImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select an image or leave blank (and specify About left content)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f55141a2-2758-4de7-8c58-3b3e12b37bae</Key>
      <Name>Css class</Name>
      <Alias>cssClass</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[eg 'codepatch' or 'umbrackathon']]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a21c5b29-5060-48e2-af6b-a38615b2e57f</Key>
      <Name>Header logo</Name>
      <Alias>headerLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>58f46c9b-2c5c-4c1d-8b43-2750149a4086</Key>
      <Name>Header words</Name>
      <Alias>headerWords</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If a logo is specified, this will be used as the alt text of the logo. If no logo then this text will displayed in the header banner]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>13f0d53c-3ba4-4c11-bbca-e81de35eb572</Key>
      <Name>Mailchimp group id</Name>
      <Alias>mailchimpGroupId</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Leave this blank if you don't want to the sign up form to show. 2 = codepatch, 4 = umbrackathon...]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>52766fec-8893-4259-ad19-d0a6c1294e82</Key>
      <Name>Entries</Name>
      <Alias>part1Entries</Alias>
      <Definition>5e5e93e4-7388-431a-b55c-045d922fa873</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Schedule - Part 1</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>81b5f7f3-ac78-49d4-9740-90cc49b856fe</Key>
      <Name>Start date</Name>
      <Alias>part1StartDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Schedule - Part 1</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fccbee4c-359e-4352-a27b-246a5e69ec5f</Key>
      <Name>Entries</Name>
      <Alias>part2Entries</Alias>
      <Definition>5e5e93e4-7388-431a-b55c-045d922fa873</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Schedule - Part 2</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8cd29a69-9bcb-47f4-906a-c1a938933990</Key>
      <Name>Start date</Name>
      <Alias>part2StartDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Schedule - Part 2</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c82a31bb-9857-49ed-ab65-46337a821a73</Key>
      <Name>Sign up content</Name>
      <Alias>signUpContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[appears above the email input in 'Sign Up' section]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>eab6f675-3386-419c-97ab-61261c2b5786</Key>
      <Name>Speakers</Name>
      <Alias>speakers</Alias>
      <Definition>ee6f2463-721c-497e-9858-10f72e73e7dd</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Speakers</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Event Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Speakers</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Schedule - Part 1</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Schedule - Part 2</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>