<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4759ea6-cda3-46d6-a339-4424e948790f" Alias="eventsPage" Level="2">
  <Info>
    <Name>Events page</Name>
    <Icon>icon-rocket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>EventsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="774b340a-51ce-4294-89b0-c8a3b969d580">EventsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1afb6700-d969-4344-bb42-c1ddc8773356</Key>
      <Name>About content</Name>
      <Alias>aboutContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[appears alongside the image in 'about' section (image currently hard-coded)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>52766fec-8893-4259-ad19-d0a6c1294e82</Key>
      <Name>Entries</Name>
      <Alias>part1Entries</Alias>
      <Definition>5e5e93e4-7388-431a-b55c-045d922fa873</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Schedule - Part 1</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>81b5f7f3-ac78-49d4-9740-90cc49b856fe</Key>
      <Name>Start date</Name>
      <Alias>part1StartDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Schedule - Part 1</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fccbee4c-359e-4352-a27b-246a5e69ec5f</Key>
      <Name>Entries</Name>
      <Alias>part2Entries</Alias>
      <Definition>5e5e93e4-7388-431a-b55c-045d922fa873</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Schedule - Part 2</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8cd29a69-9bcb-47f4-906a-c1a938933990</Key>
      <Name>Start date</Name>
      <Alias>part2StartDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Schedule - Part 2</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c82a31bb-9857-49ed-ab65-46337a821a73</Key>
      <Name>Sign up content</Name>
      <Alias>signUpContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[appears above the email input in 'Sign Up' section]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Event Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>eab6f675-3386-419c-97ab-61261c2b5786</Key>
      <Name>Speakers</Name>
      <Alias>speakers</Alias>
      <Definition>ee6f2463-721c-497e-9858-10f72e73e7dd</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Speakers</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Event Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Speakers</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Schedule - Part 1</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Schedule - Part 2</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>