<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb8a3c14-93de-4312-bd69-24a62e4ba895" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b19129a7-5c55-4eb0-a946-acacb195db11">metaTags</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="54efdedd-0754-4b46-9601-96591a0b106f">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d4759ea6-cda3-46d6-a339-4424e948790f" SortOrder="0">eventsPage</ContentType>
    <ContentType Key="66f965c1-9fa5-4db1-b7f1-8b7d5eb873b5" SortOrder="1">episodesFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>