<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2aad22fe-b59f-4c0b-92cf-dbd787a147c5" Alias="libraryRoot" Level="2">
  <Info>
    <Name>Library Root</Name>
    <Icon>icon-books color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Library+Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b09a5c20-d4fb-47fa-8e0f-05020b2e5a50" SortOrder="0">peopleFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>