<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b19129a7-5c55-4eb0-a946-acacb195db11" Alias="metaTags" Level="2">
  <Info>
    <Name>_Meta Tags</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bb8d9568-2d99-4de2-aabb-e67b729d5bac</Key>
      <Name>Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[meta and OG description,  has default value]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Meta Tags</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>62c203a8-b9d0-4dc3-96ae-b5567eb8c165</Key>
      <Name>Keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[meta keywords, has default value]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Meta Tags</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>81b9ea7f-bf69-4469-8469-184bbef1ad63</Key>
      <Name>Title</Name>
      <Alias>metaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[browser and OG title, defaults to node name]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Meta Tags</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f4d95372-a474-441a-bc89-0f930ca9d3b5</Key>
      <Name>Open Graph image</Name>
      <Alias>openGraphImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Leave blank to use the default image]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Meta Tags</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Meta Tags</Caption>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>