<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bed14447-f5bb-40c9-a38d-9ae31e6781d5" Alias="navigation" Level="2">
  <Info>
    <Name>_Navigation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>79d37fae-906d-4786-b15c-54be6934fea9</Key>
      <Name>Menu Icon</Name>
      <Alias>menuIcon</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[icon to use if page is set to appear in header menu]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7d86eed4-bb61-40f4-a3a7-98a8d7361126</Key>
      <Name>umbracoNaviHide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[surely we all know that this means?!]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>99</SortOrder>
    </Tab>
  </Tabs>
</ContentType>