<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b09a5c20-d4fb-47fa-8e0f-05020b2e5a50" Alias="peopleFolder" Level="2">
  <Info>
    <Name>People Folder</Name>
    <Icon>icon-user-females color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Library+Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="81d93280-e719-4c0e-b402-9f9014e6935d" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>