@{
	Layout = "_Master.cshtml";
}

<div class="logo">
    <img src="../images/mw1920_candid_contribs_logo.png" alt="Candid Contributions" />
</div>

<p class="intro-text">Hello, and welcome to Candid contributions - the somewhat aptly named podcast where 4 experienced developers talk all things open source. From code contributions to conference attendance; we aim to cover all aspects of life as an active member of an open-source community.</p>