.events-page.event-codepatch {
  .has-background {
    background-color: $donjuan;
    color: $athens;
  }

  .has-background-gradient {
    background-color: $bayleaf;
    background-image: linear-gradient(to top right, darken($bayleaf, 30%), $bayleaf);
    color: $athens;
  }
}

.events-nav {
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 0 20px;

      a {
        text-decoration: none;
        font-size: $base-size*1.5;
        display: flex;
        align-items: center;
        color: $donjuan;

        &:hover {
          color: darken( $donjuan, 20% )
        }

        span {
          padding-left: 10px;
        }
      }
    }
  }
}