.home-banner {
  background: url("../../images/bgs/main_banner.png") no-repeat top center;
  height: auto;
  padding: 30px 0;

  h1 {
    padding-bottom: 30px;
  }

  &--subtitle {
    padding-bottom: 30px;
    font-weight: 300;
    width: 60%;
  }
}

.codepatch {
  background: url("../../images/codepatch_banner_1920x456.png") no-repeat top center;
  padding-bottom: 30rem;

  .mobile-deets img {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .home-banner  {
    &--subtitle {
      width: 100%;
    }
  }

  .codepatch {
    background: none;
    padding-bottom: 0;

    .mobile-deets img {
      display: inline-block;
      width: 100%;
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    padding-bottom: 20px;
  }

  .home-banner  {
    &--subtitle {
      padding-bottom: 20px;
      font-size: $base-size;
    }
  }
}