.home-banner {
  background: url("../../images/bgs/main_banner.png") no-repeat top center;
  height: auto;
  padding: 30px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    padding-bottom: 20px;
  }

  &--subtitle {
    padding-bottom: 30px;
    font-weight: 300;
    width: 60%;
  }
}

.events-banner {
  display: block;
  height: 304px;

  @media only screen and (max-width: $breakpoint-large) {
    height: auto;
  }

  @media only screen and (max-width: $breakpoint-med) {
    background: none !important;
  }

  img {
    //width: 70%;
    max-width: 100%
  }

  img.mobile-only {
     display: none;

     @media only screen and (max-width: $breakpoint-med) {
        display: block;
     }
  }

  &--icon {
    display: flex;
    padding-top: 16px;

    .type-image {
      display: inline-block;
      height: 75px;
      width: 75px;
      background-color: $mineralgreen;
      color: $pearlbush;
      text-align: center;
      vertical-align: middle;

      i {
        font-size: 4rem;
        padding: 7px;
      }
    }
    .type-details {
      &--label {
        text-transform: uppercase;
        color: $mineralgreen;
        font-size: $base-size;
        margin: 0 0 0 10px;
        display: inline-block;
      }
      p {
        margin: 5px 0 0 10px;
        font-size: $base-size*1.5;
        line-height: 1.2;
      }
    }
  }
}

.codepatch {
  background: url("../../images/codepatch_banner_1920x456.png") no-repeat top center;
  padding-bottom: 30rem;

  .mobile-deets img {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .home-banner  {
    &--subtitle {
      width: 100%;
    }
  }

  .codepatch {
    background: none;
    padding-bottom: 0;

    .mobile-deets img {
      display: inline-block;
      width: 100%;
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    padding-bottom: 20px;
  }

  .home-banner  {
    &--subtitle {
      padding-bottom: 20px;
      font-size: $base-size;
    }
  }
}