<section class="component speakers" id="speakers">
    <h2 class="center">Who's involved?</h2>
    <div class="container">
        <div class="row speakers--list">
            <div class="col-4 speaker">
                <div class="speaker--image">
                    <img src="~/images/people/carole_round.png" alt="Carole" />
                </div>
                <div class="speaker--details">
                    <h3>Carole Logan</h3>
                    <h4><a href="https://twitter.com/crgrieve" target="_blank">@@crgrieve</a></h4>
                    <p>Candid Contribution Host</p>
                </div>
            </div>
            <div class="col-4 speaker">
                <div class="speaker--image">
                    <img src="~/images/people/emma_round.png" alt="Emma" />
                </div>
                <div class="speaker--details">
                    <h3>Emma Burstow</h3>
                    <h4><a href="https://twitter.com/emaburst" target="_blank">@@emaburst</a></h4>
                    <p>Candid Contribution Host</p>
                </div>
            </div>
            <div class="col-4 speaker">
                <div class="speaker--image">
                    <img src="~/images/people/laura_round.png" alt="Laura" />
                </div>
                <div class="speaker--details">
                    <h3>Laura Weatherhead</h3>
                    <h4><a href="https://twitter.com/lssweatherhead" target="_blank">@@lssweatherhead</a></h4>
                    <p>Candid Contribution Host</p>
                </div>
            </div>
            <div class="col-4 speaker">
                <div class="speaker--image">
                    <img src="~/images/people/lotte_round.png" alt="Lotte" />
                </div>
                <div class="speaker--details">
                    <h3>Lotte Pitcher</h3>
                    <h4><a href="https://twitter.com/lottepitcher" target="_blank">@@lottepitcher</a></h4>
                    <p>Candid Contribution Host</p>
                </div>
            </div>
        </div>
    </div>
</section>
