@model IEnumerable<IPublishedContent>
<section class="component speakers" id="speakers">
    <h2 class="center">Who's involved?</h2>
    <div class="container">
        <div class="row speakers--list">
            @foreach (var item in Model)
            {
                if (item is Person person)
                {
                    <div class="col-4 speaker">
                        <div class="speaker--image">
                            @if (person.Image != null)
                            {
                                /* speaker images shouldn't need manipulation before displaying */
                                <img src="@person.Image.Url" alt="@person.FullName" />
                            }
                        </div>
                        <div class="speaker--details">
                            <h3>@person.FullName</h3>
                            @if (!string.IsNullOrEmpty(person.TwitterHandle))
                            {
                                <h4><a href="https://twitter.com/@person.TwitterHandle" target="_blank">@@@person.TwitterHandle</a></h4>
                            }
                            @if (!string.IsNullOrEmpty(person.Description))
                            {
                                <p>@person.Description</p>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
