<section class="component tools" id="tools">
    <h2 class="center">Tools</h2>
    <div class="container">
        <ul class="row">
            <li class="col-2">
                <a href="/zoomlink">
                    <img src="~/images/tools/zoom.jpg" />
                    <h3>Zoom</h3>
                    <p>Lorem ipsum</p>
                </a>
            </li>
            <li class="col-2">
                <a href="/zoomlink">
                    <img src="~/images/tools/Discord-Logo-Color.svg" />
                    <h3>Discord</h3>
                    <p>Lorem ipsum</p>
                </a>
            </li>
            <li class="col-2">
                <a href="/zoomlink">
                    <img src="~/images/tools/trello-mark-circle.png" />
                    <h3>Trello</h3>
                    <p>Lorem ipsum</p>
                </a>
            </li>
            <li class="col-2">
                <a href="/zoomlink">
                    <img src="~/images/tools/visualstudio_logo2.png" />
                    <h3>Visual Studio</h3>
                    <p>Lorem ipsum</p>
                </a>
            </li>
            <li class="col-2">
                <a href="/zoomlink">
                    <img src="~/images/tools/GitHub-Mark-120px-plus.png" />
                    <h3>Github</h3>
                    <p>Lorem ipsum</p>
                </a>
            </li>
            <li class="col-2">
                <a href="/zoomlink">
                    <img src="~/images/tools/youtube_logo2.png" />
                    <h3>YouTube</h3>
                    <p>Lorem ipsum</p>
                </a>
            </li>
        </ul>
    </div>
</section>