<section class="component tools" id="tools">
    <h2 class="center">Tools</h2>
    <div class="container tools--list">
        <ul class="row">
            <li class="col-2">
                <a href="https://zoom.us/download" target="_blank">
                    <img src="~/images/tools/zoom.jpg" />
                    <h3>Zoom</h3>
                </a>
            </li>
            <li class="col-2">
                <a href="https://discord.com/download" target="_blank">
                    <img src="~/images/tools/Discord-Logo-Color.svg" />
                    <h3>Discord</h3>
                </a>
            </li>
            <li class="col-2">
                <a href="https://trello.com/" target="_blank">
                    <img src="~/images/tools/trello-mark-circle.png" />
                    <h3>Trello</h3>
                </a>
            </li>
            <li class="col-2">
                <a href="https://visualstudio.microsoft.com/downloads/" target="_blank">
                    <img src="~/images/tools/visualstudio_logo2.png" />
                    <h3>Visual Studio</h3>
                </a>
            </li>
            <li class="col-2">
                <a href="https://github.com/umbraco" target="_blank">
                    <img src="~/images/tools/GitHub-Mark-120px-plus.png" />
                    <h3>Github</h3>
                </a>
            </li>
            <li class="col-2">
                <a href="https://www.youtube.com/umbracohq" target="_blank">
                    <img src="~/images/tools/youtube_logo2.png" />
                    <h3>YouTube</h3>
                </a>
            </li>
        </ul>
    </div>
</section>